#main
{
	position:absolute;
	width:1028px;
	margin-left:-514px;
	left:60%;
	padding:auto;
	border-style:solid;
	border-width:1px;
	background-color:white;
}
#baner
{
	width:1024px;
	height:128px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
#menu
{
	position:absolute;
	left:1070px;
	top:140px;
	width:300px;
	height:320px;
}

a:link.menuButton {
    text-decoration: none;
	color:black;
	display:inline-block;
	width:290px;
	height:64px;
	background-color:#B9DDE8;
	border-color:#B9C5E8;
	border-style:outset;
	border-radius: 10px;
	border-width:5px;
	text-align:center;
	vertical-align:middle;
	line-height: 64px;  
}


a:visited.menuButton {
    text-decoration: none;
}


a:hover.menuButton, a:active.menuButton  {
    text-decoration: none;
	border-style:inset;
	background-color:#A3C3CC;
}
#slideshow
{
	position:relative;
	width:100%;
	height:320px;
	top:0;
	background-image:url('slideshow/slide1.jpg');
	background-size:100% 320px;
	text-align:center;
	font-size:50px;
	font-family:Impact;
}

.slideshowMenuButton
{
	font-size:30px;
	float:right;
	width:300px;
	font-family:Impact;
	color:white;
	text-align:right;
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
	text-decoration:none;
}
#slideshowMenu
{
	position:absolute;
	bottom:5px;
	right:0;
	line-height:31px;
}
#slideshowTitle
{
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0.8);
}
#content
{
	margin-top:-16px;
	min-height:400px;
	width:100%;
}

#footer
{
	width:100%;
	height:20px;
	background-color:#B9DDE8;
}

.photoArea
{
	position:absolute;
	right:50px;
	top:30px;
	width:346px;
	height:200px;
	text-align:center;
}
.news
{
	position:relative;
	padding-left:10px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
html, body
{
	background-image:url('bg.gif');
	content: url('slideshow/slide1.jpg') url('slideshow/slide2.jpg') url('slideshow/slide3.jpg');
}
button
{
	width:300px;	
	height:64px;
	margin:0;
	padding:0;
}
