#main
{
	position:absolute;
	width:1024px;
	min-height:768px;
	left:40px;
	padding:auto;
	border-style:solid;
	border-width:1px;
	background-color:white;
}
#baner
{
	width:1024px;
	height:128px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
#menu
{
	position:absolute;
	left:1070px;
	top:140px;
	width:300px;
	height:320px;
}
#content
{
	margin-top:-16px;
	min-height:668px;
	width:1024px;
}

#footer
{
	width:1024px;
	height:20px;
	background-color:#B9DDE8;
}
.news
{
	padding-left:10px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
html, body
{
	background-image:url('bg.gif');
}
button
{
	width:300px;	
	height:64px;
	margin:0;
	padding:0;
}
