#main
{
	position:absolute;
	width:1024px;
	min-height:768px;
	margin-left:-512px;
	left:50%;
}
#baner
{
	background-color:red;
	width:1024px;
	height:64px;
}
#menu
{
	width:1024px;
	height:16px;
	background-color:green;
}
#content
{
	
}

#footer
{
}
html
{
	text-align:center;
}
